/.venv
/.vscode
/__pycache__
remove.py
static/flags/ABW.svg
static/flags/AFG.svg
static/flags/AGO.svg
static/flags/AIA.svg
static/flags/ALA.svg
static/flags/ALB.svg
static/flags/AND.svg
static/flags/ARE.svg
static/flags/ARG.svg
static/flags/ARM.svg
static/flags/ASM.svg
static/flags/ATA.svg
static/flags/ATF.svg
static/flags/ATG.svg
static/flags/AUS.svg
static/flags/AUT.svg
static/flags/AZE.svg
static/flags/BDI.svg
static/flags/BEL.svg
static/flags/BEN.svg
static/flags/BES.svg
static/flags/BFA.svg
static/flags/BGD.svg
static/flags/BGR.svg
static/flags/BHR.svg
static/flags/BHS.svg
static/flags/BIH.svg
static/flags/BLM.svg
static/flags/BLR.svg
static/flags/BLZ.svg
static/flags/BMU.svg
static/flags/BOL.svg
static/flags/BRA.svg
static/flags/BRB.svg
static/flags/BRN.svg
static/flags/BTN.svg
static/flags/BVT.svg
static/flags/BWA.svg
static/flags/CAF.svg
static/flags/CAN.svg
static/flags/CCK.svg
static/flags/CHE.svg
static/flags/CHL.svg
static/flags/CHN.svg
static/flags/CIV.svg
static/flags/CMR.svg
static/flags/COD.svg
static/flags/COG.svg
static/flags/COK.svg
static/flags/COL.svg
static/flags/COM.svg
static/flags/CPV.svg
static/flags/CRI.svg
static/flags/CUB.svg
static/flags/CUW.svg
static/flags/CXR.svg
static/flags/CYM.svg
static/flags/CYP.svg
static/flags/CZE.svg
static/flags/DEU.svg
static/flags/DJI.svg
static/flags/DMA.svg
static/flags/DNK.svg
static/flags/DOM.svg
static/flags/DZA.svg
static/flags/ECU.svg
static/flags/EGY.svg
static/flags/ENG.svg
static/flags/ERI.svg
static/flags/ESH.svg
static/flags/ESP.svg
static/flags/EST.svg
static/flags/ETH.svg
static/flags/FIN.svg
static/flags/FJI.svg
static/flags/FLK.svg
static/flags/FRA.svg
static/flags/FRO.svg
static/flags/FSM.svg
static/flags/GAB.svg
static/flags/GBR.svg
static/flags/GEO.svg
static/flags/GGY.svg
static/flags/GHA.svg
static/flags/GIB.svg
static/flags/GIN.svg
static/flags/GLP.svg
static/flags/GMB.svg
static/flags/GNB.svg
static/flags/GNQ.svg
static/flags/GRC.svg
static/flags/GRD.svg
static/flags/GRL.svg
static/flags/GTM.svg
static/flags/GUF.svg
static/flags/GUM.svg
static/flags/GUY.svg
static/flags/HKG.svg
static/flags/HMD.svg
static/flags/HND.svg
static/flags/HRV.svg
static/flags/HTI.svg
static/flags/HUN.svg
static/flags/IDN.svg
static/flags/IMN.svg
static/flags/IND.svg
static/flags/IOT.svg
static/flags/IRL.svg
static/flags/IRN.svg
static/flags/IRQ.svg
static/flags/ISL.svg
static/flags/ISR.svg
static/flags/ITA.svg
static/flags/JAM.svg
static/flags/JEY.svg
static/flags/JOR.svg
static/flags/JPN.svg
static/flags/KAZ.svg
static/flags/KEN.svg
static/flags/KGZ.svg
static/flags/KHM.svg
static/flags/KIR.svg
static/flags/KNA.svg
static/flags/KOR.svg
static/flags/KWT.svg
static/flags/LAO.svg
static/flags/LBN.svg
static/flags/LBR.svg
static/flags/LBY.svg
static/flags/LCA.svg
static/flags/LIE.svg
static/flags/LKA.svg
static/flags/LSO.svg
static/flags/LTU.svg
static/flags/LUX.svg
static/flags/LVA.svg
static/flags/MAC.svg
static/flags/MAF.svg
static/flags/MAR.svg
static/flags/MCO.svg
static/flags/MDA.svg
static/flags/MDG.svg
static/flags/MDV.svg
static/flags/MEX.svg
static/flags/MHL.svg
static/flags/MKD.svg
static/flags/MLI.svg
static/flags/MLT.svg
static/flags/MMR.svg
static/flags/MNE.svg
static/flags/MNG.svg
static/flags/MNP.svg
static/flags/MOZ.svg
static/flags/MRT.svg
static/flags/MSR.svg
static/flags/MTQ.svg
static/flags/MUS.svg
static/flags/MWI.svg
static/flags/MYS.svg
static/flags/MYT.svg
static/flags/NAM.svg
static/flags/NCL.svg
static/flags/NER.svg
static/flags/NFK.svg
static/flags/NGA.svg
static/flags/NIC.svg
static/flags/NIR.svg
static/flags/NIU.svg
static/flags/NLD.svg
static/flags/NOR.svg
static/flags/NPL.svg
static/flags/NRU.svg
static/flags/NZL.svg
static/flags/OMN.svg
static/flags/PAK.svg
static/flags/PAN.svg
static/flags/PCN.svg
static/flags/PER.svg
static/flags/PHL.svg
static/flags/PLW.svg
static/flags/PNG.svg
static/flags/POL.svg
static/flags/PRI.svg
static/flags/PRK.svg
static/flags/PRT.svg
static/flags/PRY.svg
static/flags/PSE.svg
static/flags/PYF.svg
static/flags/QAT.svg
static/flags/REU.svg
static/flags/ROU.svg
static/flags/RUS.svg
static/flags/RWA.svg
static/flags/SAU.svg
static/flags/SCO.svg
static/flags/SDN.svg
static/flags/SEN.svg
static/flags/SGP.svg
static/flags/SGS.svg
static/flags/SHN.svg
static/flags/SJM.svg
static/flags/SLB.svg
static/flags/SLE.svg
static/flags/SLV.svg
static/flags/SMR.svg
static/flags/SOM.svg
static/flags/SPM.svg
static/flags/SRB.svg
static/flags/SSD.svg
static/flags/STP.svg
static/flags/SUR.svg
static/flags/SVK.svg
static/flags/SVN.svg
static/flags/SWE.svg
static/flags/SWZ.svg
static/flags/SXM.svg
static/flags/SYC.svg
static/flags/SYR.svg
static/flags/TCA.svg
static/flags/TCD.svg
static/flags/TGO.svg
static/flags/THA.svg
static/flags/TJK.svg
static/flags/TKL.svg
static/flags/TKM.svg
static/flags/TLS.svg
static/flags/TON.svg
static/flags/TTO.svg
static/flags/TUN.svg
static/flags/TUR.svg
static/flags/TUV.svg
static/flags/TWN.svg
static/flags/TZA.svg
static/flags/UGA.svg
static/flags/UKR.svg
static/flags/UMI.svg
static/flags/URY.svg
static/flags/USA.svg
static/flags/UZB.svg
static/flags/VAT.svg
static/flags/VCT.svg
static/flags/VEN.svg
static/flags/VGB.svg
static/flags/VIR.svg
static/flags/VNM.svg
static/flags/VUT.svg
static/flags/WAL.svg
static/flags/WLF.svg
static/flags/WSM.svg
static/flags/YEM.svg
static/flags/ZAF.svg
static/flags/ZMB.svg
static/flags/ZWE.svg
static/flags/CHI.svg
static/flags/CRC.svg
static/flags/DEN.svg
static/flags/ESA.svg
static/flags/GAM.svg
static/flags/GER.svg
static/flags/GRE.svg
static/flags/ISV.svg
static/flags/LAT.svg
static/flags/NED.svg
static/flags/NMI.svg
static/flags/POR.svg
static/flags/PUR.svg
static/flags/SLO.svg
static/flags/SUI.svg
static/flags/URU.svg
static/flags/VAN.svg
